<header>
    <div class="nav-container">
        <a href="/posts">
            <h1>Agatter</h1>
        </a>
        <nav class="main-navbar">
            <ul class="nav-links">
                <% if(user) { %>
                    <li>
                        Welcome, <%= user.username %>!
                    </li>
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/login">Log In</a>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                <% } %>
             </ul>
        </nav>
    </div>
</header>