@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

.header {
    margin-left: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    min-height: 100vh;
    color: aliceblue;
    gap: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(30, 30, 30);
}

.main-navbar {
    display: flex;
    font-size: 25px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    padding: 10px;
    gap: 20px;
}

a, a:link, a:visited {
    color: aliceblue;
    text-decoration: none;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    min-width: 20%;
    align-self: center;
    background-color: rgba(30, 30, 30, .5);
    gap: 20px;
    margin: 10px;
    border-radius: 10%;
}

.login-box label, .login-box input {
    margin: 5px;
}

.login-header {
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}