@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

.header {
    margin-left: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    min-height: 100vh;
    color: aliceblue;
    gap: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(30, 30, 30);
}

.main-navbar {
    display: flex;
    font-size: 25px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    padding: 10px;
    gap: 20px;
}

a, a:link, a:visited {
    color: aliceblue;
    text-decoration: none;
}

.content-wrapper, .replies-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 15px;
    background-color: rgb(30, 30, 30);
    max-width: 80vw;
    border-width: 5px;
    border-radius: 5%;
    gap: 10px;
}

.reply-content input, .reply-content a {
    font-size: 0.7vw;
}

.post-header, .back-btn {
    display: flex;
    align-self: center;
}
