<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-style.css">
    <title>Welcome! | Agatter</title>
</head>
<body>
    <div class="main-container">

        <%- include('../partials/nav.ejs') %>
        <div class="login-box">
            <h2 class="login-header">Log In</h2>    
            <% if(error) { %>
                <p style="color: red"><%= error %></p>
            <% } %>
            <div class="form">
                <form action="/login" method="POST">
                    <label>Username:
                        <input type="text" name="username">
                    </label><br>
                    <label>Password:
                        <input type="password" name="password">
                    </label><br>
                    <input type="submit" value="Log In">
                </form>
            </div>
        </div>
    </div>
</body>
</html>