<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome! | Agatter</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2>Create an Account</h2>
    <form action="/signup" method="POST">
        <label>Username:
            <input type="text" name="username">
        </label><br>
        <label>Password:
            <input type="password" name="password">
        </label><br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>