<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post | Agatter</title>
</head>
<body>
    <a href="/posts">
        <h1>Agatter</h1>
    </a>
    <h2>Edit your Post</h2>
    <form action="/posts/<%= foundPost._id %>?_method=PUT" method="POST">
        <textarea name="content" cols="30" rows="10"><%= foundPost.content %></textarea>
        <input type="submit" value="Update this Post">
        <a href="/posts/<%= foundPost._id %>">Cancel</a>
    </form>
</body>
</html>