<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-style.css">
    <title>Agatter</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <a href="/posts/new">
        <h2> New Post </h2>
    </a>
    <% posts.forEach(p => { %>
        <a href="/posts/<%= p._id %>">
            <div class="content-wrapper">
                <p>
                    <span><strong><%= p.addedBy.username %></strong>:</span>
                    <%= p.content %>
                </p>
            </div>
        </a>
    <% }) %>
</body>
</html>