<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-style.css">
    <title>Agatter</title>
</head>
<body>
    <div class="main-container">
        <%- include('../partials/nav.ejs') %>
        <div class="new-btn-wrapper">
            <a href="/posts/new">
                <h2>NEW AGATT</h2>
            </a>
        </div>
        <div class="posts-wrapper">
            <% posts.forEach(p => { %>
                <div class="content-wrapper">
                    <a href="/posts/<%= p._id %>">
                            <h3><%= p.addedBy.username %></h3>
                            <p><%= p.content %></p>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>