<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agatter</title>
</head>
<body>
    <a href="/posts">
        <h1>Agatter</h1>
    </a>
    <h2>Current Post</h2>
    <div class="content-wrapper">
        <p><%= foundPost.content %></p>
        <form action="/posts/<%= foundPost._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
        </form>
        <a href="/posts/<%= foundPost._id %>/edit">Edit this Post</a>
    </div>
    <a href="/posts">Back</a>
</body>
</html>